<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Laundry Hand</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <%- include('navbar'); %> <!--navbar included at the top of every page-->
    <div class="columns">
      <div class="column is-6"> 
        <div class="columns" id="form3">
          <div class="column is-3" id="left-form"> <!--navigation column -->
            <div class="is-size-4 has-text-weight-bold pl-2"><u>Navigation</u></div>
            <div class="content">
              <div class="is-size-7 has-text-weight-bold has-text-grey pl-2">Dependencies</div>
              <ul class="is-size-7">
                <li><a id="nav-button">Work<img class="dot"src="dot.png"></a></li>
                <li><a id="nav-button">School<img class="dot"src="dot.png"></a></li>
                <li><a id="nav-button">Other<img class="dot"src="dot.png"></a></li>
              </ul>
            </div>
            <div class="content">
              <div class="is-size-7 has-text-weight-bold has-text-grey pl-2">Colour</div>
              <ul class="is-size-7">
                <li><a id="nav-button">White<img class="dot"src="dot.png"></a></li>
                <li><a id="nav-button">Coloured<img class="dot"src="dot.png"></a></li>
              </ul>
            </div>
          </div>

          
          <div class="column is-9 px-0" id="right-form">
            <% for (let i = 0; i < sections.length; i++) { %> 
            <button type="button" id="collapsible"> <%= sections[i][0] %>
              <img class="is-pulled-right caret" id="caret" src="caret1.png">
            </button>
            <div id="content">
              <div class="columns" id="sec">
                <div class="column is-6 has-text-centered" id="details">
                  <div class="is-size-7 has-text-weight-bold">Number of Clothes:</div>
                  <p class="is-size-7"><%= sections[i][1] %></p>
                  <div class="is-size-7 has-text-weight-bold">Oldest Item at:</div>
                  <p class="is-size-7"><%= sections[i][3] %></p>
                  <div class="content">
                    <div class="is-size-7 has-text-weight-bold">Dependencies</div>
                    <ul class="is-size-7" id="one">
                      <li><a id="item-button"><%= sections[i][4] %></a></li>
                      <li><a id="item-button"><%= sections[i][5] %></a></li>
                      <li><a id="item-button"><%= sections[i][6] %></a></li>
                    </ul>
                    <% if (sections[i][0] == 'Washing Basket') { %> 
                      <label class="is-size-7 has-text-weight-bold">Wash time:</label>
                      <input type="text"  name="time" form="items-form-<%= i %>" class="time" placeholder=" 5:35">
                      <label class="is-size-7 has-text-weight-bold">hrs</label>
  
                    <% }else if(sections[i][0] == 'Washing Machine'){ %>
                      <label class="is-size-7 has-text-weight-bold">Dry time:</label>
                      <input type="text"  name="time" form="items-form-<%= i %>" class="time" placeholder=" 5:35">
                      <label class="is-size-7 has-text-weight-bold">hrs</label>
                    <% } %>
                    
                  </div>
                </div> 
                <div class="column is-6 px-0 <%= sections[i][0] + '-checkboxes'%>" id="storage">
                  
                  <form action="/items" method="post"  id="items-form-<%= i %>" class="items-form-<%= i %>" onsubmit="return handleData('.items-form-<%= i %>', 'send', '.warning')">
                    <div class="overflow height-fixed-content">
                      <% for (let j=0; j < item.length; j++) { %>
                      <% if (sections[i][0] == item[j][1]) { %>
                      <div id="item" class="<%= sections[i][0].replace(' / ', '').replace(' ', '') %>"> <!--individual item of clothing. displays the name, dependencies and is sorted into a specific location-->
                        <div class="columns is-vcentered">
                          <div class="column is-3 has-text-centered">
                            <p><%= item[j][0] %></p>
                          </div>
                          <div class="column is-7 has-text-centered">
                            <p><%= item[j][4] %></p>
                          </div>
                          <div class="column is-2 has-text-centered">
                            <div class="field">
                              <div class="control">
                                <input type="checkbox" name='send' value = '<%= item[j][2] + "-" + sections[i][0] %>'>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %>
                      <% } %>
                    </div>
                    <div class="submitBox mr-4">
                      <div class="columns is-gapless">
                        <div class="column is-5 has-text-danger has-text-centered"><p class="warning">Select at least one item</p></div>
                        <div class="column is-7 ml-0 pl-0">
                          <button class="is-pulled-right mr-2 mt-2" type="submit" name="remove" value="false">Send</button>
                          <button class="is-pulled-right mr-2 mt-2" type="submit" name="remove" value="true">Remove</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          <% } %>
          <div id="nav-content" class="pt-2 has-text-centered">
            No items match description
          </div>
          </div>
          
        </div>
      </div>
      <div class="column is-6" id="form2">
        <div id="form1"> <!--clothes input form-->
          <form action="/" method="post" class="clothes-form-0" onsubmit="return !!(handleData('.clothes-form-0', 'name', '.warning-clothes') & handleData('.clothes-form-0', 'colourOption', '.warning-clothes') & handleData('.clothes-form-0', 'dOption[]', '.warning-clothes'));">
            <div class="is-size-3 has-text-weight-bold">Clothes input form</div>
            <div class="columns">
              <div class="column is-6">
                <div class="field">
                  <label class="label">Name: </label>
                  <div class="control">
                    <input type="text" placeholder="e.g Hello Kitty Sock" name="name">
                  </div>
                </div>
                <label class="label">Colour:</label>
                <div class="field">
                  <label class="label">White: </label>
                  <div class="control">
                    <input type="radio" name="colourOption" value="White">
                  </div>
                  <label class="label">Coloured: </label>
                  <div class="control">
                    <input type="radio" name="colourOption" value="Coloured">
                  </div>
                </div>
              </div>
              <div class="column is-3">
                <label class="label">Dependencies:</label>
                <div class="field">
                  <label class="label">Work</label>
                  <div class="control">
                    <input type="checkbox" name="dOption[]" value="Work">
                  </div>
                  <label class="label">School</label>
                  <div class="control">
                    <input type="checkbox" name="dOption[]" value="School">
                  </div>
                  <label class="label">Other</label>
                  <div class="control">
                    <input type="checkbox" name="dOption[]" value="Other">
                  </div>
                </div>
                
              </div>
              <div class="column is-2">
                <button type="submit">Submit</button>
                <p class="warning-clothes has-text-danger is-size-7">Please completely fill out the form</p>
              </div>
            </div>
          </form>
        </div>
        <div id="form1"> <!--family form-->
          <form action="/family" method="post" class="family-form-0" onsubmit="return handleData('.family-form-0', 'member', '.warning-family')">
            <div class="is-size-3 has-text-weight-bold">Family</div>
            <div class="columns">
              <div class="column is-6">
                <div class="content">
                  <div class="is-size-6 has-text-weight-bold has-text-grey">Machines In Use</div>
                  <ul class="is-size-6">
                    <li>
                      <p>Washing Machine</p>
                    </li>
                    <li>
                      <p>Dryer</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="column is-6">
                <div class="content">
                  <div class="is-size-6 has-text-weight-bold has-text-grey">Members</div>
                  <ul class="is-size-6">
                    <li>
                      <p>some@gmail.com</p>
                    </li>
                    <li>
                      <div class="'field">
                        <div class="control">
                          <input type="text" name="member" placeholder="someone@gmail.com">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="'field">
                  <div class="control">
                    <button type="submit">Submit</button>
                  </div>
                </div>
                <p class="warning-family has-text-danger mt-1 is-size-7">Please completely fill out the form</p>
              </div>
            </div>


          </form>
          <div class="is-size-6" id="watch"></div>  
        </div>
      </div>
    </div>
  </main>

  <!--allows the frontend js code to use variables passed from the backend-->
  <div id="data" data-sections="<%= sections.map(subArray => subArray.join('|')).join(',') %>" data-item="<%= item.map(subArray => subArray.join('|')).join(',') %>"></div>


  <script src="script.js"></script>
  
</body>
</html>